.main{
  display: grid;
  grid-template-areas: 
  "header_h2 header_h2 header_h2 header_h2 header_h2"
  "left-scroller addresses addresses addresses right-scroller";
  border: 10px solid gray;
}

.main-h2{
  grid-area: header_h2;
}
.main-left-scroller{
  grid-area: left-scroller;
}
.main-right-scroller{
  grid-area: right-scroller;
}

.main-content{
  grid-area: addresses;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 5px solid grey;
  gap: 3px;
  

}
.address{
  border: 2px solid gray;
  color: black;
  background-color: whitesmoke;
}
.address button{
  background-color: black;
  color: white;
}
.address-name{
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}